[Unit]
Description=WILLEE : Web Interface for LINKY Live Extraction and Exploitation (Backend)
After=network.target

[Service]
Type=simple
ExecStart= /usr/bin/python3 "/home/pi/WilleeProject/WILLEE/backend.py"
Restart=on-abort

[Install]
WantedBy=multi-user.target
