[Unit]
Description=WILLEE : Web Interface for LINKY Live Extraction and Exploitation (Frontend)
After=network.target

[Service]
Type=simple
ExecStart= /usr/bin/python3 "/home/pi/WilleeProject/WILLEE/frontend.py"
Restart=on-abort
Requires=Backend.service

[Install]
WantedBy=multi-user.target
